{% include "manifests/manifests_header.html" %}

<div class = "navbar navbar-fixed-top">

   <div class="navbar-inner" style="height:43px;">
      <div>
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class = "navbar-brand" href = "#">Release Manifest Administration</a>

         <div class="navbar">
            <p class="navbar-text pull-right">
            {% if user.is_authenticated %}
               Logged in as <a href="#/" class="navbar-link"><b>{{ user.username }}</b></a> || <a href="/logout/?next=/release_manifest/login/">Log out</a>
            {% else %}
               Welcome, new user. Please <a href="/release_manifest/login" class="navbar-link"><b>log in.</b></a>
            {% endif %}
            </p>
            <ul class = "navbar">
               <li class = "active"><a href = "#">Home</a></li>
               <li><a href = "#">About</a></li>
            </ul>
         </div>
      </div>
   </div> <!-- navbar inner -->

</div> <!-- navbar-fixed-top -->

<div ng-app="manifestApp" ng-controller="ManifestController">
<div class="container-fluid">
   <div class="row-fluid" id="rowFluidDiv">
      <div class="span2">
         <div class="well sidebar-nav" style="position: fixed; width: 190px; height: 80%;">
            {% verbatim %}
            <p class="nav-header" style="font-weight: bbold;">Total Manifests# {{ number }}</p>
            {% endverbatim %}
            <p class="nav-header" style="font-weight: bbold;">Filter by Software Type</p>
            <div class="panel panel-group" id="accordion">
               <div class="panel panel-default">
                  <ul class="nav nav-list">
                     <li class="active">
                        <a href="#prodSubmenu" data-toggle="collapse" data-target="#prodSubmenu" data-parent="#accordion" aria-expanded="true" role="button" aria-controls="prodSubmenu" ng-click="MasterFilter('all')">Production</a>
                     </li>
                  </ul>
                  <div id="prodSubmenu" class="panel-collapse collapse in">
                     <ul class="nav nav-list panel-body">
                        <li>
                           <ul class="nav nav-list">
                              <li class="nav-header">Filter by Revision</li>
                              <li><a href="#" ng-click="MasterFilter('all')">All Manifests</a></li>
                              <li><a href="#">RC</a></li>
                              <li><a hred="#">Non-RC</a></li>
                              <li class="nav-header">Filter by Release</li>
                              <li><a href="#">4.2.0</a></li>
                              <li><a href="#">4.1.0</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div> <!-- prodSumenu panel-collapse -->
               </div>
               <div class="panel panel-default">
                  <ul class="nav nav-list">
                     <li><a href="#opsSubmenu" data-toggle="collapse" data-target="#opsSubmenu" data-parent="#accordion" aria-expanded="false" role="button" aria-control="opsSubmenu" ng-click="MasterFilter('opsall')">Operations</a></li>
                  </ul>
                  <div id="opsSubmenu" class="panel-collapse collapse">
                     <ul class="nav nav-list panel-body">
                        <li>
                           <ul class="nav nav-list">
                              <li class="nav-header">Filter by Revision</li>
                              <li><a href="#" ng-click="MasterFilter('opsall')">All Manifests</a></li>
                              <li><a href="#">RC</a></li>
                              <li><a href="#">Non-RC</a></li>
                              <li class="nav-header">Filter by Release</li>
                              <li><a href="#">4.2.0</a></li>
                              <li><a href="#">4.1.0</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div> <!-- panel-default opsSubmenu -->
            </div>
         </div> <!-- well -->
      </div>  <!-- span -->

      <div style="padding-left: 230px;">
         <form>
            <div class="form-group">
               <div class="input-group">
                  <div class="input-group-addon"><span class="fa fa-search"></span></div>
                  <input type="text" class="form-control" placeholder="Search Manifest Revision" style="width: 95%; height:28px;">
               </div>
            </div>
         </form>
      </div>

      <div style="padding-left: 230px; width: 100%; overflow-y: auto; height: 600px;">
         <table class="table" id="manifests">
            <thead style="font-weight:700; font-size: 11px; font-weight: bold; line-height: 20px; color: #999999; text-shadow: 0 1px 1 rgba(255, 255, 255, 0.5); text-transform: uppercase;">
            <tr>
               <td>
                  <a href="#/" >External Release
                     <span class="fa fa-caret-down"></span>
                     <span class="fa fa-caret-up"></span>
                  </a>
               </td>

               <td>
                  <a href="#/" >Software Type
                     <span class="fa fa-caret-down"></span>
                     <span class="fa fa-caret-up"></span>
                  </a>
               </td>

               <td>
                  <a href="#/" >Release
                     <span class="fa fa-caret-down"></span>
                     <span class="fa fa-caret-up"></span>
                  </a>
               </td>

               <td>
                  <a href="#/" >Revision
                     <span class="fa fa-caret-down"></span>
                     <span class="fa fa-caret-up"></span>
                  </a>
               </td>

               <td>
                  <a href="#/" >Date Added
                     <span class="fa fa-caret-down"></span>
                     <span class="fa fa-caret-up"></span>
                  </a>
               </td>

               <td>
                  Artifacts List
               </td>

               <td>
                  User Action
               </td>

            </tr>
            </thead>

            <tbody>
               <tr ng-repeat="manifest in manifests">
                  {% verbatim %}
                  <td>{{ manifest.ext_release }}</td>
                  <td>{{ manifest.sw_type }}</td>
                  <td>{{ manifest.release }}</td>
                  <td>{{ manifest.revision }}</td>
                  <td>{{ manifest.date_added | date:'MM d, yyyy, h:mm:ss a'}}</td>
                  <td>
                     <a href="/release_manifest/manifest/{{ manifest.id }}/artifactslist"
                        onclick="window.open(this.href, 'mywin_artifacts','left=20,top=20,width=1200,height=400,toolbar=1,resizable=0,scrollbars=1'); return false;"
                        data-toggle="tooltip" title="Artifacts List of Revision# {{ manifest.revision }}">
                     <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-th-list"></span></button>
                     </a>
                  </td>
                  {% endverbatim %}
               </tr>
            </tbody>
         </table>
      </div>

   </div> <!-- row-fluid -->
</div>
</div> <!-- ng-app -->

{% include "manifests/manifests_footer.html" %}
